modules = ["nodejs-20", "web", "nix"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node index.js"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[deployment]
deploymentTarget = "vm"
run = ["npm", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
JWT_SECRET = "c7cd0a8c6372d310fbf8741ec365e0d158b83c4ef96196e48e14a1813ecd2093e3bbbb013019292ef2c1a42142fd425f0c562f3c566dc4df75a03c6e5419885a"
